h1, p {
    font-family: Lato;
  }
  
  .slider-wrapper{ }
  
  .slider-container {
    background-color: #E8EAF6;
    box-sizing: border-box;
  }
  
  .slider-list{
    display: inline-flex;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: calc(100% - 400px); /* fix width = 400 */ 
  }
  
  .slider-item {
    width: 400px; /* fix width = 400 */ 
    height: 300px;
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }   
  
  .slider-item:not(:last-of-type) {
    margin-right: 90px;
  }
    
  @media (max-width: 1000px) {
    .slider-container {
      padding-right: 80vh !important; 
    }
    .slider-item {
      width: 80vw; 
      border-left: 2px solid black;
    }
  }
  .images-of-the-item{
    height: 40vh;
  }